<footer class="footer-brand-content bg-clear-primary text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="section-brand" style="margin-bottom: 15px;">
          <img appImgSrc="assets/logo/svg/branding/brand.svg" alt="vascom" loading="lazy"/>
        </div>
        <p class="summary-text text-center fnt-small soft-black pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo in vestibulum, sed dapibus tristique nullam.</p>
      </div>
      <div class="col-12 col-md-2 pe-0">
        <p class="text-start text-black text-capitalize fnt-extra-large">Layanan</p>
        <ul class="list-unstyled text-start">
          <li><a class="text-black fnt-small text-decoration-none" href="#">BANTUAN</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">TANYA JAWAB</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">HUBUNGI KAMI</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">CARA BERJUALAN</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-2 ps-0">
        <p class="text-start text-black text-capitalize fnt-extra-large">Tentang Kami</p>
        <ul class="list-unstyled text-start">
          <li><a class="text-black fnt-small text-decoration-none" href="#">ABOUT US</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">KARIR</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">BLOG</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">KEBIJAKAN PRIVASI</a></li>
          <li><a class="text-black fnt-small text-decoration-none" href="#">SYARAT DAN KETENTUAN</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-2">
        <p class="text-start text-black text-capitalize fnt-extra-large">Mitra</p>
        <ul class="list-unstyled text-start">
          <li><a class="text-black fnt-small text-decoration-none" href="#">SUPPLIER</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="footer-line" style="background: #E4FDFF;"></div>
  </div>
</footer>

